<div class="products">
  <div class="grid">
    <% @products.each do |product| %>
      <div class="product">
        <div class="image">
          <%= link_to image_tag(product.image), product_items_path(product.id) %>
        </div>
        <div class="name">
          <%= link_to product.name, product_items_path(product.id) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @products %>
</div>
