<%= render 'shared/header'%>
<div class="main">
  <%= render 'shared/side'%>
  <div class="carts">

    <hr>
    <div class="cart-title">
      配送済み商品
    </div>
    <hr>

    <% @sends_items.each do |send| %>
      <div>
        <%= send.item.product.name %>
      </div>
    <% end %>

  </div>
</div>