body {
}

.main {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.products {
  padding-top: 50px;
  width: 1000px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 300px;
}

img {
  height: 200px;
  width: auto;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.2);
}

.pagination {
  text-align: center;
}