.items {
  padding: 50px;
  width: 1000px;
}

.product-name {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.product-image {
  margin-bottom: 30px;
}

.item {
  margin: 5px;
  padding: 10px;
  background-color: #eee; 
  width: calc(100% - 100px);
  border-radius: 10px;
}
.item-condition {
  padding: 5px;
  color: red;
}

.item-text {
  padding: 5px;
  color:#555;
  background-color: white;
  border-radius: 0 0 5px 5px;
  min-height: 30px;
}